venv/*
clashfile.txt
config.json
test.py
serverlist.txt
xray.exe
__pycache__/*

testconfig.json
xray
build
dist

LightHouse.spec
config
icon/vpn-01.ico
icon/vpn-02.ico
icon/vpn-03.ico
vpn-01.png
config copy.json
.DS_Store
LightHouseVPN.spec
pfconf.conf
